:root, :before, :after{
  --bg-2:#131923; 
  --color-default:#A3ABBD; 
  --color-link-primary:213deg 100% 98%; 
  --color-link-secondary:113deg 50% 66%;
  --color-link-tertiary:204deg 100% 49%;
  --color-fb:#1877f2;
  --color-tw:#00acec;
  --color-wa:#2bb240;
  --color-ot:#CB103C;
  --color-ig:#A935AF;
  --color-yt:#D20001;
}

body, html{color:var(--color-default);}
a, .btn, button, #btt, .htm-line{transition:all 0.25s; cursor:pointer}
a, button{color:hsl(var(--color-link-primary) / 100%); fill:hsl(var(--color-link-primary) / 100%);}
a:hover, button:hover{color:hsl(var(--color-link-tertiary) / 100%); fill:hsl(var(--color-link-tertiary) / 100%);}
.btn:hover, a.btn:hover, button.btn:hover{background-color:hsl(var(--color-link-tertiary) / 100%);}
#btt{position:fixed; bottom:calc(var(--size-6) * 2); right:var(--size-3); border-radius:50%; 
z-index:calc(var(--max-zindex) - 10000); width:var(--size-5); height:var(--size-5); 
background-color:hsl(var(--color-link-secondary) / 100%); fill:var(--bg-1);}
#btt:hover, #btt:focus{background-color:hsl(var(--color-link-tertiary) / 100%);}
.flex_ori > img{opacity:0; transition:all 300ms;}
.flex_ori > img.lazyloaded{opacity:1;}
.popup-copied{position:fixed; z-index:var(--max-zindex); top:calc(var(--size-6) + var(--size-5)); left:0; 
width:100%; text-align:center;}
.popup-copied-alert{display:inline-flex; margin:0 auto; padding:var(--size-3) var(--size-4); font-size:16px; color:hsl(var(--color-link-primary));
background-color:hsl(var(--color-link-secondary) / 100%); border-radius:var(--size-4); box-shadow:var(--shadow-default);}
.socmed-link-fb{fill:var(--color-fb);}
.socmed-link-tw{fill:var(--color-tw);}
.socmed-link-ig{fill:var(--color-ig);}
.socmed-link-yt{fill:var(--color-yt);}
.sticky-curr{color:hsl(var(--color-link-secondary) / 100%); fill:hsl(var(--color-link-secondary) / 100%);}
.thumb-loading:before{animation:skeleton-loading 0.5s linear infinite alternate; background-color:hsl(var(--color-link-primary) / 100%);}
@-webkit-keyframes skeleton-loading{0%{opacity:0.05;}100%{opacity:0.15;};}
@keyframes skeleton-loading{0%{opacity:0.05;}100%{opacity:0.15;};}

header, menu{background-color:var(--bg-2);}
header:after{background:linear-gradient(to right, hsl(var(--color-link-secondary) / 100%) 0%, hsl(var(--color-link-tertiary) / 100%) 100%);}
.header-logo:hover{opacity:0.5;}

.section-bottom > span{display:block; margin:0 auto; padding:0 var(--size-4) !important;}
.section-bottom-container *{text-align:center;}
.bottom-name{font-weight:900; color:hsl(var(--color-link-primary) / 100%); font-size:21px; margin-bottom:var(--size-1);}
.bottom-address span{display:inline-block;}
.bottom-contact, .bottom-contact *{display:flex; align-items:center;}
.bottom-contact{justify-content:center; flex-wrap:wrap; margin-top:var(--size-2);}
.bottom-contact-link{font-weight:normal; margin:var(--size-2) var(--size-4);}
.bcl-icon{margin-right:var(--size-2);}
.bcl-icon .svgicon{width:auto; height:var(--size-4);}
.bottom-map{position:relative; margin-top:var(--size-4);}
.bottom-map:before{content:''; display:block;}
.bottom-map iframe{position:absolute; top:0; left:0; width:100%; height:100%;}

footer{background-color:var(--bg-2); border-top:1px dashed hsl(var(--color-link-primary) / 21%);}
footer .width-max{align-items:center;}
footer .socmed-list{display:flex;}
footer .socmed-link{padding:var(--size-4) var(--size-3);}
footer .socmed-link:hover{fill:hsl(var(--color-link-secondary) / 100%);}
footer .svgicon{width:auto; height:var(--size-4);}



@media screen and (min-width:0px) and (max-width:1023px){
  menu, menu .sticky-link{width:100%;}
  menu{position:absolute; width:100%; height:calc(100vh - var(--size-6)); top:var(--size-6); right:0; overflow-y:auto;}
  menu .sticky-link{display:block; padding:0 var(--size-4); border-bottom:1px dashed hsl(var(--color-link-primary) / 21%);}
  
  .htm-line{border-radius:var(--size-2); background-color:hsl(var(--color-link-primary) / 100%);}
  .header-menu-toggle:hover .htm-line{background-color:hsl(var(--color-link-secondary) / 100%);}
  .header-menu-open .htm-line{--line-position:calc((var(--size-4) - var(--hamburder-line-height)) / 2);}
  .header-menu-open .htm-line-1{transform:rotate(45deg);}
  .header-menu-open .htm-line-2{width:0; opacity:0;}
  .header-menu-open .htm-line-3{transform:rotate(135deg);}
  
  .section-bottom .width-max{padding-left:0; padding-right:0;}
  .bottom-map:before{padding-top:100%;}
  
  footer .footer-copyright{padding:var(--size-4); padding-bottom:0; text-align:center;}
  footer .socmed-list{justify-content:center;}
}



@media screen and (min-width:1024px){}
  .bottom-map:before{padding-top:56.25%;}

  footer .width-max{display:flex; justify-content:space-between;}
  footer .footer-copyright{padding-left:var(--size-4);}
  footer .socmed-link-ot{padding-right:var(--size-4);}
}
  
  
  
@supports(-webkit-backdrop-filter:none) or (backdrop-filter:none){
  .media-article-caption{-webkit-backdrop-filter:blur(10px); backdrop-filter:blur(10px); background-color:rgba(255,255,255,0.5);}
}