*,html{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;-moz-box-sizing:border-box;box-sizing:border-box;font-size:100%;text-align:left}img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}ol,ul{list-style:none}li{display:list-item}a img{border:0}a{text-decoration:none}b,strong{font-weight:800}i,em{font-style:italic}img{max-width:100%}.btn,input[type=button],select,button{-webkit-appearance:none;cursor:pointer;background-color:transparent}.hide{display:none;}

:root{
  --site-container:987px;
  --size-1:5px;
  --size-2:8px;
  --size-3:13px;
  --size-4:21px;
  --size-5:34px;
  --size-6:55px;
  --size-7:89px;
  --max-zindex:2147483648;
  --default-fontsize:16px;
  --bg-1:#000000; 
}

body, html{font-family:'Nunito',sans-serif; font-size:var(--default-fontsize); font-weight:400; letter-spacing:0.4px; font-feature-settings:'lnum' 1; 
-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-font-smoothing:antialiased; 
-moz-osx-font-smoothing:grayscale; text-rendering:optimizeSpeed;}
html{scroll-behavior:smooth;}
body{--menu-width:233px; overflow-x:hidden; position:relative; background-color:var(--bg-1);}
a{font-weight:bold;}
.btn, a.btn, button.btn{padding:var(--size-3) var(--size-4); font-weight:normal; -webkit-appearance:none; text-transform:capitalize; 
display:flex; text-align:center; align-items:center; justify-content:center;}
#btt, .popup-copied, .is-hidden{display:none;}
.content_center{display:flex; justify-content:center; align-items:center;}
.flex_ori{display:block; overflow:hidden; position:relative; line-height:0;}
.flex_ori:before{content:''; display:block;}
.flex_ori img{position:absolute; z-index:2; top:0; left:0; width:100%; height:100%; object-fit:cover;}
.flex_ori img:not([src]){visibility:hidden;}
.float-overlay, .popup-copied, .popup-profile{display:none;}
.section-title{font-size:var(--size-5); font-weight:900; text-align:center; margin-bottom:var(--size-5);}
.section-subtitle{text-align:center; margin-bottom:var(--size-5); margin-top:calc(var(--size-5) * -1); margin-inline:auto; max-width:610px;}
.width-max{position:relative; width:100%; max-width:var(--site-container);}

header{position:fixed; top:0; left:0; width:100%; z-index:var(--max-zindex);}
header:after{content:''; display:block; position:absolute; left:0; bottom:0; width:100%; height:1px;}
header *{display:flex;}
header > span{justify-content:space-between; margin:0 auto;}
header img, header .svgicon{width:auto;}
header .sticky-link{padding:0 var(--size-3);}
header .header-logo{padding-left:var(--size-4);}

menu .sticky-link{font-weight:bold;}

.rancak-container{min-height:100vh; position:relative;}
.section-container{position:relative; z-index:20000;}

.section-row{position:relative; z-index:10000;}
.section-row > .width-max{z-index:2; padding:var(--size-6) var(--size-4);}

.section-cover{--cover-img-width:377px;}
.section-cover .width-max, .scc-container{display:grid; grid-gap:var(--size-4);}
.scc-title{line-height:120%; font-weight:900; display:inline-flex; flex-wrap:wrap;}
.scc-label{display:inline-flex; margin-right:var(--size-1);}
.scc-words-wrapper{width:100%;}
a.scc-button{display:inline-flex;}
.sci-frame{max-width:var(--cover-img-width); margin:0 auto;}
.sci-frame:before{padding-top:calc((749 / 409) * 100%);}

.section-about-feature{display:grid; grid-gap:var(--size-4); grid-template-columns:repeat(auto-fit, minmax(233px ,1fr));}
.saf-box{padding:var(--size-4); height:100%;}
.saf-box *{text-align:center;}
.saf-icon .svgicon{width:auto; height:var(--size-6);}
.saf-title{font-weight:bold; text-transform:uppercase;}




@media screen and (min-width:0px) and (max-width:1023px){
  .desktop-only{display:none !important; visibility:hidden; content-visibility:hidden;}
  .desktop-only iframe[loading=lazy]{content-visibility:hidden !important;}
  
  .sticky-link{height:var(--size-6);}
  
  header .header-logo img{height:var(--size-5);}
  
  .header-menu-toggle{--hamburder-line-height:4px; padding-right:var(--size-4) !important; opacity:1 !important;}
  .header-menu-toggle > span{position:relative; width:var(--size-4); height:var(--size-4);}
  .htm-line{--line-position:0px; position:absolute; left:0; width:var(--size-4); height:var(--hamburder-line-height); background-color:#FFF;}
  .htm-line-1{top:var(--line-position);}
  .htm-line-2{top:calc((var(--size-4) - var(--hamburder-line-height)) / 2);}
  .htm-line-3{bottom:var(--line-position);}

  menu{display:none;}
  
  .section-cover{padding-top:var(--size-6);}
  .scc-container *{text-align:center;}
  .scc-title{font-size:3em; justify-content:center;}
  .scc-words-wrapper, .scc-anchor{display:flex; justify-content:center;}
  .scc-label{width:100%; justify-content:center;}
}