.mobile-only{display:none !important; visibility:hidden; content-visibility:hidden;}

.sticky-link{height:var(--size-7); font-size:calc(var(--default-fontsize) + 2px);}

header .header-logo img{height:var(--size-6);}
header .svgicon{height:24px;}

menu{display:flex !important;}
menu .sticky-link:last-child{padding-right:var(--size-4);}

.section-cover{padding-top:var(--size-7);}
.section-cover .width-max{grid-template-columns:1fr var(--cover-img-width);}
.scc-title{font-size:5em;}